name = "interchat-web"
main = ".open-next/worker.js"
compatibility_date = "2025-12-31"
compatibility_flags = ["nodejs_compat"]
account_id = "510ea6d43d5506ea7ba8abb4e852d091"

[assets]
directory = ".open-next/assets"
binding = "ASSETS"

[[d1_databases]]
binding = "interchat"
database_name = "interchat"
database_id = "6fd39615-0f51-4f3d-b363-ae2e382178a3"
remote = true

[observability]
enabled = true
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = false
persist = true
head_sampling_rate = 1
